.main_portfolio {
    background-color:#ffffff;
    width: 70%;
    top: 125px;
}

.nav {
    float:right;
    margin-top: 5px;
}
.nav h2 {
    background-color: rgb(74,170,165);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    position: absolute;
    left: 10;
}

.nav li a {
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/night_sky.jpg");
    background-size: cover;
    background-position: center;
}

.main_portfolio {
    position: relative;
    margin-top: -750;
}

.main_portfolio h2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74,170,165);
}